<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container" style="background-color: rgb(255, 244, 208);">
  <br>
  <h1>PRODUCTOS</h1><br>
  
  <button (click)="listar()" type="button" class="btn btn-outline-danger" style="margin-right: 10px;">Listar</button>
  <button (click)="nuevo()" type="button" class="btn btn-outline-danger">Nuevo</button>
  <hr>
  
</div>


<router-outlet></router-outlet>